
/* Task-1 Tabbing */

/* Global CSS */

@font-face {
    font-family: 'Montserrat';
    src: url('../css/Montserrat-Fonts/Montserrat-Bold.otf');
}


.wrapper{
    max-width: 950px;
    width: 100%;
    display: block;
    margin: 0 auto;
}

*{
    outline: none;
}

body{
    vertical-align: middle;
}


h1,h2,h3,p{
    margin: 0;
    padding: 0;
}


.title_bar_head h3{
   text-align: center;
    padding-top: 5%;
    font-size: 25px;
}

.title_bar_secondhead h3{
    text-align: center;
     padding-top: 5%;
     font-size: 25px;
     padding-bottom: 5%;
 }

.tablinks{
    border-top-left-radius: 12%;
    background-color: #39a33c;
    color: rgb(63, 38, 38);
    border-color: #39a33c;
    border: none;
    padding: 8% 34px 9px 14px;
    clip-path: polygon(0 0, 75% 0%, 100% 100%, 0% 100%);

}

.buttons_bars ul{
    padding-top: 5%;
    padding-left: 14%;
    
}

button:hover{
    background-color: white;
    color: #39a33c;
}



.buttons_bars li{
    list-style-type: none;
   
}

.section_main{
    background-color: lightgray;
}


.menu{
    display: flex;
    flex-wrap: wrap;
    
}

.numbers{
    background-color: white;
    padding: 20%;
    margin-top: -1.8%;
}

.icons{
    padding-right: 5px;
}

#nums{
    text-align: center;
    font-family: 'Montserrat',sans-serif;
    font-size: 60px;
    color: lightgray;
}

.tabcontent{
    display: none;
}

.numbers{
    font-size: 60px;
    text-align: center;
    color: lightgray;
}


.show{
    display: block;
}


.active{
    background-color: white;
    color: #39a33c;
}

/* Task-2 Accordion */

/* Global css */


.main{
    background-color: lightgray;
    padding-top: 6%;
    padding-bottom: 5%;
}

.wrapper{
    max-width: 900px;
    width: 100%;
    display: block;
    margin: 0 auto;
}

p{
    margin: 0;
    padding: 0;
}
 

button{
    background-color: olive;
    color: white;
    cursor: pointer;
    padding: 8px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
	  font-weight: 600;
    transition: 0.4s;
	  font-family: "Raleway";
    line-height: 1.5em;
    text-transform: none;
    letter-spacing: 0px;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 1%;
}

.sub p{
       padding: 0 18px;
    background-color: rgb(35, 149, 35);
    
    transition: all 0.8s ease-in-out;
	  width: 96%;
	  font-family: "Raleway";
    font-size: 15px;
    line-height: 1.6em;
    letter-spacing: .4px;
    font-weight: 400;
    font-style: normal;
    color: rgba(0,0,0,.88);
    margin-bottom: 2%;
}

.sub{
    display: none;
    
 
}

.active{
    display: block;

    
    
}



.sign::after{
    content: '+';
    margin-left: 60%;
}

.show::after{
    content: '-';
}



